body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: silver;
}

form {
    border-radius: 10px;
    border-color: aliceblue;
    border-width: 10px;
    background-color: white;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    font-weight: 500;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-weight: 500;
}

input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-weight: 500;
    border-radius: 8px;
    border-width: 0px;
    background-color: lightgrey;
    margin-top: 5px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    border-radius: 5px;
    border-color: transparent;
    padding: 5px;
}

#divAutor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

span {
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn {
    background-color: lightgreen;
}

#btn2 {
    background-color: lightskyblue;
}

#btn3 {
    background-color: lightyellow;
}

#btn4 {
    background-color: lightpink;
}

#checkBox1 {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    width: 20px;
    height: 20px;
}

#checkBox2 {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    width: 20px;
    height: 20px;
}

#divMostrarResultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;

}